In [1]:
import os

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'debug.log',
 'Jupyter_notebook_pandas_excel_csv_txt_json_file_read (2).ipynb',
 'Jupyter_notebook_pandas_excel_csv_txt_json_file_read.ipynb',
 'Jupyter_notebook_pandas_excel_csv_txt_json_file_read.py',
 'Jupyter_Testing.ipynb',
 'pandas.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'supermarkets_commas.txt',
 'supermarkets_semi-colons.txt',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb']

In [3]:
import pandas

In [5]:
df1 = pandas.read_csv("supermarkets.csv")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
df1.set_index("Address")

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [12]:
df2 = df1.set_index("Address")
df2

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [14]:
df2.loc["332 Hill St":"1056 Sanchez St","Country":"ID"]

Empty DataFrame
Columns: []
Index: [332 Hill St, 3995 23rd St, 1056 Sanchez St]

In [15]:
df2.loc["1056 Sanchez St","Country"]

'USA'

In [16]:
list(df2.loc[:,"Country"])

['USA', 'USA', 'USA', 'USA', 'USA', 'USA']

In [17]:
df2.loc[:,"Country"]

Address
3666 21st St       USA
735 Dolores St     USA
332 Hill St        USA
3995 23rd St       USA
1056 Sanchez St    USA
551 Alvarado St    USA
Name: Country, dtype: object

In [19]:
df2.iloc[1:4,1:4]

                         City             State Country
Address
735 Dolores St  San Francisco          CA 94119     USA
332 Hill St     San Francisco  California 94114     USA
3995 23rd St    San Francisco          CA 94114     USA

In [20]:
df2.iloc[:,1:4]

                          City             State Country
Address
3666 21st St     San Francisco          CA 94114     USA
735 Dolores St   San Francisco          CA 94119     USA
332 Hill St      San Francisco  California 94114     USA
3995 23rd St     San Francisco          CA 94114     USA
1056 Sanchez St  San Francisco        California     USA
551 Alvarado St  San Francisco          CA 94114     USA

In [21]:
df2.iloc[3,1:4]

City       San Francisco
State           CA 94114
Country              USA
Name: 3995 23rd St, dtype: object

In [22]:
df2.iloc[3,4]

"Ben's Shop"

In [24]:
df2.ix[3,"Name"]

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

"Ben's Shop"

In [25]:
df2.ix[3,4]

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

"Ben's Shop"

In [26]:
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20