In [2]:
import os

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'debug.log',
 'geocoding_addresses_with_pandas_and_geopy.ipynb',
 'jupyter_notebook_drop_update.ipynb',
 'Jupyter_notebook_pandas_excel_csv_txt_json_file_read (2).ipynb',
 'Jupyter_notebook_pandas_excel_csv_txt_json_file_read.ipynb',
 'Jupyter_notebook_pandas_excel_csv_txt_json_file_read.py',
 'Jupyter_Testing.ipynb',
 'pandas.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'supermarkets_commas.txt',
 'supermarkets_semi-colons.txt',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb']

In [4]:
import geopy

In [5]:
dir(geopy)

['ArcGIS',
 'AzureMaps',
 'BANFrance',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'Geolake',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'Timezone',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'timezone',
 'units',
 'util']

In [7]:
from geopy.geocoders import Nominatim

In [8]:
nom = Nominatim()

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Using Nominatim with the default "geopy/1.20.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  """Entry point for launching an IPython kernel.

In [20]:
n = nom.geocode("3995 23rd St, San Fransisco,CA 94114")

In [21]:
import pandas

In [22]:
df = pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [23]:
df["Address"] = df["Address"]+" , "+df["City"]+" , "+df["State"]+" , "+df["Country"]

In [24]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St , San Francisco , CA 94114 , USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St , San Francisco , CA 94119 , USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St , San Francisco , California 94114...",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St , San Francisco , CA 94114 , USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St , San Francisco , California ,...",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St , San Francisco , CA 94114 , USA",San Francisco,CA 94114,USA,Richvalley,20

In [25]:
df["Coordinates"] = df["Address"].apply(nom.geocode)

In [26]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St , San Francisco , CA 94114 , USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California..."
1,2,"735 Dolores St , San Francisco , CA 94119 , USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735, Dolores Street, Liberty Street Historic ..."
2,3,"332 Hill St , San Francisco , California 94114...",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,..."
3,4,"3995 23rd St , San Francisco , CA 94114 , USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St , San Francisco , California ,...",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,6,"551 Alvarado St , San Francisco , CA 94114 , USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [27]:
df.Coordinates

0    (3666, 21st Street, Noe Valley, SF, California...
1    (735, Dolores Street, Liberty Street Historic ...
2    (332, Hill Street, Noe Valley, SF, California,...
3    (3995, 23rd Street, Noe Valley, SF, California...
4    (1056, Sanchez Street, Noe Valley, SF, Califor...
5    (551, Alvarado Street, Noe Valley, SF, Califor...
Name: Coordinates, dtype: object

In [28]:
df.Coordinates[0]

Location(3666, 21st Street, Noe Valley, SF, California, 94114, USA, (37.756488877551, -122.429343346939, 0.0))

In [29]:
df.Coordinates[0].latitude

37.756488877551

In [30]:
df.Coordinates[0].longitude

-122.429343346939

In [31]:
df["latitude"] = df["Coordinates"].apply(lambda x: x.latitude if x !=None else None)

In [32]:
df["longitude"] = df["Coordinates"].apply(lambda x: x.longitude if x !=None else None)

In [33]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,latitude,longitude
0,1,"3666 21st St , San Francisco , CA 94114 , USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,2,"735 Dolores St , San Francisco , CA 94119 , USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735, Dolores Street, Liberty Street Historic ...",37.757726,-122.425529
2,3,"332 Hill St , San Francisco , California 94114...",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,4,"3995 23rd St , San Francisco , CA 94114 , USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,5,"1056 Sanchez St , San Francisco , California ,...",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,6,"551 Alvarado St , San Francisco , CA 94114 , USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220